@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  height: 5rem;
}

.btn svg,
.badge svg {
  height: 1rem;
  width: 1rem;
}

.badge-error svg,
.badge-success svg,
.btn-error svg,
.btn-success svg {
  color: #fff;
}