package web_event

import (
"scouts-risk/web"
"scouts-risk/internal/model"
"scouts-risk/internal/ui"
"scouts-risk/internal/ui/register"
)

templ Events() {
@web.Base() {
{ children... }
}
}

templ EventDescription(event model.Event) {
@ui_register.Description(ui_register.DescriptionData{
Label: event.Label,
ParentLabel: "Events",
ParentUrl: "event",
}){
<span class="font-semibold block">
  @ui.SmallDate(event.Date)
</span>
{ event.Description }
}
}