package web_event

import (
"scouts-risk/web"
"scouts-risk/internal/model"
)

templ Events() {
@web.Base() {
{ children... }
}
}

templ EventDescription(event model.Event) {
<div class="px-4">
  <h1 class="pb-0 mb-0">
    <a class="text-black text-base block" href="/risk/event">Events ></a> { event.Label }
  </h1>
  <p>{ event.Description }</p>
</div>
}