package ui_nav

import "scouts-risk/internal/icon"

// ! TODO
// TODO Obtain the context, mark an item as active when within their path

templ Bottom() {
<div class="btm-nav md:hidden">
  <button href="/">
    @icon.Home(templ.Attributes{"class": "h-5 w-5"})
  </button>
  <button href="/risk/event">
    @icon.Calendar(templ.Attributes{"class": "h-5 w-5"})
  </button>
  <button href="/risk/location">
    @icon.MapPin(templ.Attributes{"class": "h-5 w-5"})
  </button>
</div>
}