package web

templ Events() {
@Base() {
{ children... }
}
}

templ EventDescription(title string, description string) {
<h2><span class="text-black">Events ></span> { title }<span class="text-black"> > Register</span></h2>
<p>{ description }</p>
}